player-connection-mode=Listen
player-connection-guid=475599211
player-connection-debug=0
player-connection-project-name=Quest Setup
player-connection-ip=192.168.1.171
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=Oculus,OpenVR
hdr-display-enabled=0
